{% extends 'todoapp/base.html' %}
{% block guest_body %}
<!-- Guest content goes here, which mean unaunticated content goes here-->
<div class="container-fluid my-2 p-1 text-center border border-danger">
    <div class="row justify-content-center align-items-center" style="height: 720px;">
        <div class="col-md-8 col-lg-6">
            <h1 class="display-4 fw-bold mb-4 text-primary">Welcome to the ToDo App</h1>
            <p class="lead text-muted mb-5">Manage your tasks with ease. SignIn or Register to get started.</p>
            <div class="d-grid gap-2">
                <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Get Started</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

