{% extends 'todoapp/base.html' %}


{% block head %}
<style>
    .completed-text {
        text-decoration: line-through;
    }
</style>
{% endblock %}


{% block body %}

<div class="container my-2">
    <h2>Your ToDo</h2>
</div>

<div class="container my-3 border border-info">
    <form action="{% url 'myfirsttodoapp:home' %}" method="POST">
        {% csrf_token %}
        <div class="m-2">
            <input type="text" class="form-control mt-3" name="task" id="" placeholder="" required>
        </div>
        <div class="m-2">
            <button type="submit" class="btn btn-outline-dark btn-sm px-3">Add Task</button>
        </div>
    </form>
</div>

<div class="container ">
    <span>

        <div class="row justify-content-end">
            <div class="badge text-center bg-dark-subtle text-dark-emphasis text-wrap p-2 my-2" style="width:8rem;">
                Total : {{total_count}}</div> &nbsp;
            <div class="badge text-center bg-dark-subtle text-dark-emphasis text-wrap p-2 my-2" style="width:8rem;">
                Completed : {{completed}}</div>
        </div>

    </span>
</div>


<div class="container border border-info">
    <form id="myForm" action="{% url 'myfirsttodoapp:mark_as_completed' %}" method="POST">
        {% csrf_token %}
        {% if tasks|length == 0%}
        <div class="alert alert-dark my-1" role="alert">
            No ToDo's Found, Please Add it.
        </div>
        {% else %}
        {% for task in tasks %}
        <div class="row containerp-fluid border p-1 mx-1 my-2 text-bg-light">
            <div class="col-1">
                <input class="form-check-input mt-2 border border-danger mycheckbox " title="Mark As Completed"
                    type="checkbox" value="{{task.id}}" name="completed" {% if task.is_task_completed%}checked{% endif %}>
            </div>
            <div class="col-1 mt-1">{{forloop.counter}}</div>
            <div class="col-8 mt-1 text fs-6 text-capitalize {% if task.is_task_completed %}completed-text{% endif %}">{{task.task}}</div>
            <div class="col-2">
                <span>
                    {% if task.is_task_completed %}
                    <button class="btn btn-success btn-sm" disabled>Update</button>
                    {% else %}
                    <a class="btn btn-success btn-sm" href="{% url 'myfirsttodoapp:update_task' task.id %}" role="button">Update</a>
                    {% endif %}
                    <a class="btn btn-danger btn-sm" href="{% url 'myfirsttodoapp:delete_task' task.id %}" role="button">Delete</a>
                </span>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </form>
</div>

<script>
    var checkboxes = document.querySelectorAll('.mycheckbox');
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            document.getElementById("myForm").submit();
        });
    });
</script>


{% endblock%}