{% extends 'todoapp/base.html' %}
{% block title %} Update -{% endblock %}
{% block head %}

{% endblock %}

{% block body %}
<div class="container my-3 p-3 border">
    <h2>Update Task</h2>
    <form action="{% url 'myfirsttodoapp:update_task' taskid %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="taskName" class="form-label">Task Name</label>
            <input type="text" class="form-control" id="taskName" name="update_taskname" value="{{data.task}}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <span class="text-end"><a class="btn btn-danger" href="{% url 'myfirsttodoapp:task' %}" role="button">Cancel</a></span>
        
    </form>
</div>
{% endblock %}
