{% extends 'todoapp/base.html' %}

{% block title %} Logout -{% endblock %}
{% block guest_body %}
<div class="container-fluid my-2 p-1 text-center border border-danger">
    <div class="row justify-content-center align-items-center" style="height: 720px;">
        <div class="col-md-8 col-lg-6">
            <h1 class="display-4 fw-bold mb-4 text-black">You have successfully logged out of your account.</h1>
            <p class="lead text-muted mb-5"></p>
            <div class="d-grid gap-2">
                <a class="btn btn-primary btn-lg text-black" href="{% url 'register' %}" role="button">Log In Again</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
